*{
  margin: 0;
  padding: 0;
}

#container_map {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

#map {
  width: 100%;
  height: 400px;
  border-radius: 10px;
}

footer{
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  background-size: 80%;
  background: #d9eddf;
}

footer h3 {
  color: #000000;
}

footer p{
  color: #656565;
}

.logo_part img {
  width: 50px;
  height: 50px;
  border: 6px solid #2c7d2c;
}

.container_part {
  display: flex;
  justify-content: center;
}

.logo_res img {
  width: 50px;
  height: 50px;
}




