h1, h2, h3, h4, h5, div, p, li, td, th, input, button, label, select, option, textarea, span{
  font-family: Calibri;
  font-size: 16px;
  line-height: 20px;
}

.bandeau-en-tete{
  position: fixed;
  top: 0px;
  right: 0px;
  left: 0px;
  height: 50px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  background-color: bisque;
}

.bandeau-en-tete-titre{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
}

.bandeau-en-tete h1{
  font-size: 35px;
  text-align: center;
}

.menu{
  position: fixed;
  top: 70px;
  left: 0px;
  right: 0px;
  height: 25px;
  padding: 5px;
  display: flex;
  justify-content: flex-start;
  background-color: #EED3B3FF;
}

.menu span{
  padding: 10px;
  margin: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: bisque;
}

.visu img{
  max-width: 100%;
  height: auto;
  object-fit: cover;
  margin-top: 110px;
}

#contenu{
  display:flex;
  flex-direction: column;
  gap: 30px;
}

#description, #infos-cles, #calendar, #container_map{
  scroll-margin-top: 114px;
  margin-left: 100px;
  margin-right: 100px;
}

.logo{
  width: 50px;
  height: 50px;
}

#infos-cles{
  display: flex;
  justify-content: space-evenly;
}

#carousel-container {
  width: 300px; /* Ajustez la largeur à la taille souhaitée */
  margin: 0 auto; /* Pour centrer le carrousel horizontalement */
  overflow: hidden; /* Cachez les images dépassant de la zone du carrousel */
}

#description{
  width: 80%;
  justify-content: normal;
}
