h1, h2, h3, h4, h5, div, p, li, td, th, input, button, label, select, option, textarea, span, a{
  font-family: Calibri;
  font-size: 16px;
  line-height: 20px;
  color: white;
}

body{
  background-color: #565a76;
}

.bandeau-en-tete{
  position: fixed;
  top: 0px;
  right: 0px;
  left: 0px;
  height: 50px;
  padding: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #565a76;
}

.bandeau-en-tete-titre{
  display: flex;
  justify-content: center;
  align-items: center;
}

.bandeau-en-tete h1{
  font-size: 35px;
  text-align: center;
}

.menu{
  position: fixed;
  top: 70px;
  left: 0px;
  right: 0px;
  height: 40px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #72789b;
}

.menu a{
  float: left;
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.menu a:hover{
  background-color: #9B7278;
}

#visu img{
  max-width: 100%;
  height: auto;
  object-fit: cover;
  margin-top: 90px;
}

#contenu{
  display:flex;
  flex-direction: column;
  gap: 30px;
}

#description, #infos-cles, #calendar, #container_map{
  scroll-margin-top: 110px;
  margin-left: 75px;
  margin-right: 75px;
}

.logo{
  width: 50px;
  height: 50px;
}
